/* [project]/src/components/userInfo/styles.css [app-client] (css) */
.verifiedBlock {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.used {
  background-color: #fc9231;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
}

.verified {
  background-color: #3d7a81;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding: 5px;
  display: flex;
}

.price {
  margin: 10px 0;
  font-size: 22px;
}

.infoInterestedUser {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.infoInterestedUser img {
  width: 20px;
  height: 20px;
}

.infoInterestedUser p {
  font-size: 18px;
}

.userInfoBlock {
  background-color: #1d2735;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
}

.userPhoto {
  object-fit: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.userBlock {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.star {
  object-fit: cover;
  width: 16px;
  height: 16px;
}

.ratingItem {
  margin-left: 10px;
  font-size: 18px;
}

.ratingBlock {
  align-items: center;
  display: flex;
}

.ratingCountItem {
  color: gray;
  text-wrap: nowrap;
  margin-left: 10px;
  font-size: 16px;
}

.userNameTitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.private {
  background-color: #111827;
  border-radius: 5px;
  padding: 10px;
}

.privateTitle {
  cursor: pointer;
  font-size: 20px;
}

.otherPrivateBlock {
  margin-top: 50px;
}

.otherPrivate {
  font-size: 18px;
}

.telephoneNumber {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  display: flex;
}

.telephoneTitle {
  text-align: center;
  font-size: 16px;
}

.num {
  font-size: 30px;
}

.telephone {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  align-items: center;
  padding: 10px 25px;
  display: flex;
}

.email {
  cursor: pointer;
  background-color: #d85151;
  border-radius: 10px;
  align-items: center;
  padding: 10px 20px;
  display: flex;
}

.email p {
  font-size: 18px;
}

.emailPhoto {
  object-fit: cover;
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.subscribe {
  border: 2px solid gray;
  border-radius: 20px;
  margin-top: 40px;
  padding: 30px;
}

.subscribeTitle p {
  font-size: 20px;
  line-height: 30px;
}

.subscribeInput {
  border: 2px solid gray;
  border-radius: 10px;
  align-items: center;
  width: 70%;
  padding: 0 10px;
  display: flex;
}

.inp {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  font-size: 20px;
}

.inp:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.subscribeMail {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.subscribeBtn {
  background-color: gray;
  border-radius: 12px;
  padding: 10px;
}

.subscribeBtn p {
  margin: 0;
  font-size: 20px;
}

.checkBox {
  margin-bottom: 8px;
}

.custom-checkbox {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  font-size: 16px;
  display: inline-flex;
}

.custom-checkbox input {
  display: none;
}

.checkboxTitle {
  margin-top: 25px;
}

.subscribeTitle p {
  font-size: 18px;
}

.checkBox .checkmarkCar {
  width: 30px;
  margin-top: 5px;
}

/*# sourceMappingURL=src_components_userInfo_styles_css_e59ae46c._.single.css.map*/