.specificationsBlock{
    margin-top: 80px;
}

.specificationsTitle{
    margin-top: 15px;
}

.itemsBlock{
    display: flex;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    margin-right: 130px;
}

.itemBlock{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.itemBlock p{
    font-size: 18px;
    font-weight: bold;
}

.itemBlock .itemValue{
    color: gray;
    font-size:14px;
}
